NODE_ENV=development

# Auth
JWT_SECRET=textoexemploparajwtsecret

# Database
DATABASE_URL="postgresql://docker:docker@localhost:5432/apizav?schema=public"

# Redis
REDIS_HOST="localhost"
REDIS_PORT=6379